---
// src/pages/index.astro
import '@/styles/global.css';

import {Desktop} from '../components/Desktop';
import {Mobile} from '../components/Mobile';
---

<html>
  <body>
    <div class="desktop-only">
      <Desktop />
    </div>
    <div class="mobile-only">
      <Mobile />
    </div>
  </body>
</html>

<style>
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  
  @media (min-width: 768px) {
    .mobile-only {
      display: none;
    }
    .desktop-only {
      display: block;
    }
  }
</style>