<html>
    <head>
        <meta
            http-equiv="refresh"
            content="0; url=https://www.eventbrite.com/e/phoenix-comedy-underground-standup-showcase-tickets-1931807330729?aff=oddtdtcreator"
        />
    </head>
    <body>
        <p>Redirecting to tickets...</p>
    </body>
</html>
